import React, {FC} from 'react'; import <%= props.name %>Props from './<%=
props.name%>Props'; const <%= props.name %>: FC<<%= props.name %>Props> = ({}:
<%= props.name %>Props) => { return (
<div></div>
); }; export default <%= props.name %>;
